<div class="toolbar" role="banner">
  <img width="350" alt="Angular Logo" src="/assets/img/pads_rwth.png" />
  <h1>Object-Centric Process Simulation</h1>
  <div class="spacer"></div>
</div>

<div class="content" role="main">

  <div class="card-container">
    <button class="card card-small" routerLink="/ocel_config"
    [ngClass]="router.url === '/ocel_config' ? 'active-card' : ''">
      <span>Configure OCEL</span>
    </button>
    <div class="arrows-container">
      <fa-icon [ngClass]="domService.ocelConfigValid ? 'fa-3x fa-arrows-enabled' : 'fa-3x fa-arrows-disabled'"  
         [icon]="doubleRightArrowsIcon"></fa-icon>
    </div>
    <button class="card card-small" routerLink="/object_model" [disabled]="!domService.ocelConfigValid"
      [ngClass]="router.url === '/object_model' ? 'active-card' : ''">
      <span>Generate Object Model</span>
    </button>
    <button class="card card-small" routerLink="/discover_ocpn" [disabled]="!domService.ocelConfigValid"
    [ngClass]="router.url === '/discover_ocpn' ? 'active-card' : ''">
      <span>Discover OCPN</span>
    </button>
    <div class="arrows-container">
      <fa-icon [ngClass]="domService.netConfigValid ? 'fa-3x fa-arrows-enabled' : 'fa-3x fa-arrows-disabled'"
      [icon]="doubleRightArrowsIcon"></fa-icon>
    </div>
    <button class="card card-small" routerLink="/simulate_process" [disabled]="!domService.netConfigValid"
    [ngClass]="router.url === '/simulate_process' ? 'active-card' : ''">
      <span>Simulate Process</span>
    </button>
  </div>

  <router-outlet></router-outlet>
