.generator-config-box {
    height: 500px;
    margin-right: 30px; 
    max-width: 200px;
}

.object-model-form-field {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 300px;
    max-width: 200px;
}

.custom-ng-select {
    margin-bottom: -17.5px;
}

.custom-ng-select {
    max-width: 200px;
}

.tooltip-btn {
    position: relative;
    display: inline-block;
    cursor: pointer;
}
  
.tooltip-text {
    visibility: hidden;
    background-color: black;
    width: 250px;
    color: white;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    bottom: 125%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
}
  
.tooltip-btn:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}