<div class="component-box">
    <div class="action-box">
        <div>
            <div style="display: inline-block;">
                <button class="card card-small" (click)="onClickInitialize()" tabindex="0">
                    <span>Initialize Generator</span>
                </button>
            </div>
            <div>
                <button class="card card-small"
                    [disabled]="!configValid || !generatorInitialized || !objectModelInfo.selectedSeedType || objectModelInfo.numberOfObjects == 0"
                    (click)="onClickStart()" tabindex="0">
                    <span>Start Generation</span>
                </button>
                <div class="object-model-form-field" style="margin-left: 10px">
                    <label>Name of Object Model</label><br>
                    <div style="margin-top: 20px">
                        <input [disabled]="!responseValid" type="text" placeholder=""
                            [(ngModel)]="objectModelInfo.name">
                    </div>
                </div>
                <button [disabled]="!responseValid || objectModelInfo.name.length == 0" class="card card-small"
                    (click)="onClickSave()" tabindex="0">
                    <span>Save Objects</span>
                </button>
                <div style="margin-left: 15px" *ngIf="savedObjectModels.length > 0">
                    <label>Existing Object Models:</label><br>
                    <div style="margin-top: 20px">
                        <span *ngFor="let om of savedObjectModels">{{om}}<br></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="generator-config-box">
        <h4>Initial Parameters</h4>
        <div class="object-model-form-field">
            <label>Execution Model Depth</label><br>
            <div style="margin-top: 20px">
                <input type="number" placeholder="1" [(ngModel)]="objectModelInfo.executionModelDepth">
            </div>
        </div>
        <div class="object-model-form-field">
            <label>Execution Model Evaluation Depth</label><br>
            <div style="margin-top: 20px">
                <input type="number" placeholder="1" [(ngModel)]="objectModelInfo.executionModelEvaluationDepth">
            </div>
        </div>
        <br>
        <h4>Generation Parameters</h4>
        <div class="object-model-form-field">
            <label>Object Type</label>
            <ng-select class="custom-ng-select" [(ngModel)]="objectModelInfo.selectedSeedType" [multiple]="false"
                (change)="onChangeSelectedSeedType()" [disabled]="!generatorInitialized">
                <ng-option *ngFor="let otype of objectModelInfo.otypes" [value]="otype">{{otype}}
                </ng-option>
            </ng-select>
        </div>
        <div class="object-model-form-field">
            <label>Number of Objects</label><br>
            <div style="margin-top: 20px">
                <input type="number" placeholder="0" [(ngModel)]="objectModelInfo.numberOfObjects"
                    [disabled]="!generatorInitialized || !objectModelInfo.selectedSeedType">
            </div>
        </div>
        <!--<div *ngIf="omgResponse">
            <br>
            <h4>Number of Generated Objects:</h4>
            <div *ngFor="let otype of objectModelInfo.otypes">
                <br>
                {{otype}}: {{getNumberOfGeneratedObjects(otype)}}
            </div>
            <br>
            <h4>EMC for ORMDs:</h4>
            <div *ngFor="let depth of [1,2,3]">
                <br>
                {{depth}}: {{getObjectEMC(depth)}}
            </div>            
        </div>-->
    </div>
    <div class="">
        <h4>Object Model Statistics</h4>
        <div style="display: flex;" class="object-model-form-field">
            <div class="">
                <label>Type of Statistics</label>
                <ng-select class="custom-ng-select" [(ngModel)]="selectedParameterType" [multiple]="false"
                    style="width: 240px;" (click)="onChangeStatsInput()">
                    <ng-option *ngFor="let statsType of statsTypes" [value]="statsType">{{statsType}}
                    </ng-option>
                </ng-select>
            </div>
            <div class="" style="min-width: 200px; margin-left: 20px">
                <label>Object Type</label>
                <ng-select class="custom-ng-select" [(ngModel)]="selectedObjectType" [multiple]="false"
                    (click)="onChangeStatsInput()">
                    <ng-option *ngFor="let otype of objectModelInfo.otypes" [value]="otype">{{otype}}
                    </ng-option>
                </ng-select>
            </div>
        </div>
        <div class="stats-plot-box" *ngIf="selectedObjectType">
            <div *ngFor="let attribute of attributes" style="width: 98%; height: 280px;">
                <h5>{{getPlotCaption(attribute)}}</h5>
                <div style="width: 48%; display: inline-block;">
                    <canvas baseChart [datasets]="barChartData[attribute]" [labels]="mbarChartLabels[attribute]"
                        [options]="barChartOptions" [legend]="true">
                    </canvas>
                </div>
                <div style="margin-left: 20px; display: inline-block; vertical-align: top; width: 48%">
                    <div>
                        <label>
                            <input type="checkbox" style="margin-left: 0" [(ngModel)]="trainingSelectionMap[attribute]"
                                (change)="onSelectForTraining(attribute)">
                            Use in Generator Training
                        </label>
                        <div *ngIf="selectedParameterType == 'Timing Information'">
                            <label>
                                <input type="checkbox" style="margin-left: 0" [(ngModel)]="batchArrivalMap[attribute]"
                                    (change)="onMarkAsBatchArrival(attribute)">
                                Mark as Batch Arrival
                            </label>
                        </div>
                    </div>
                    <div class="object-model-form-field" style="display: inline-block; vertical-align: top;">
                        <label>Fitting Model</label>
                        <ng-select [disabled]="!trainingSelectionMap[attribute]" class="custom-ng-select"
                            [(ngModel)]="trainingModelMap[attribute]" [multiple]="false"
                            (change)="onChangeFittingModel(attribute)">
                            <ng-option *ngFor="let model of attributeModelCandidates[attribute]"
                                [value]="model">{{model}}
                            </ng-option>
                        </ng-select>
                        <div style="display: inline-block; vertical-align: top;">
                            <button class="card card-smallest" style="margin-left: 0; margin-top: 20px"
                                (click)="onClickApplyParameters(attribute)" tabindex="0"
                                [disabled]="!trainingSelectionMap[attribute] || !touchedParameters[attribute]">
                                <span>Apply Parameters</span>
                            </button>
                        </div>
                    </div>
                    <div class="object-model-form-field"
                        style="display: inline-block; vertical-align: top; margin-left: 15px;">
                        Parameters:<br>
                        <textarea type="text" style="width: 180px; min-height: 108px; margin-bottom: 10px"
                            [disabled]="!trainingSelectionMap[attribute]" [(ngModel)]="parameterMap[attribute]"
                            (click)="onTouchParameters(attribute)">
                            </textarea>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>