.generator-config-box {
    height: 500px;
    margin-right: 30px; 
    max-width: 200px;
}

.object-model-form-field {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 300px;
    max-width: 200px;
}

.custom-ng-select {
    margin-bottom: -17.5px;
}

.stats-plot-box {
    width: 1000px;
    height: 600px;
    overflow-y: auto;
}

.custom-ng-select {
    max-width: 200px;
}
