.evaluation-action-box {
    width: fit-content;
    margin-right: 15px
}

.evaluation-controls {
    border-style: solid;   
    border-color: rgba(95, 158, 160, 0.315);
    border-width: 0.1cm;
    border-radius: 5px;
    padding: 10px;
    margin-left: 7px;
    width: 220px;
    max-width: 220px
}

.evaluation-ng-select{
    margin-left: 10px; 
    width: 100%;
    width: 200px;
    max-width: 200px
}

.evaluation-chart {
    width: 48%; 
    display: inline-block;
}